---
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryCTM } from "@/lib/contentParser.astro";
import type { Section } from "@/types";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import SocialMediaLink from "@/layouts/components/social/SocialMediaLink.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";

type meetTheDuoSectionType = Section & {
  items: {
    name: string;
    title: string;
    image: string;
    role: string;
    languages: string;
    linkedin: string;
  }[];
};

type Props = {
  content?: meetTheDuoSectionType;
};

let defaultContent = (
  await getEntryCTM("sections", "meet-the-duo", Astro.currentLocale)
)?.data as meetTheDuoSectionType;

let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as meetTheDuoSectionType;

let { title, items } = actualContent as meetTheDuoSectionType;
---

<section class="meet-the-duo py-16 text-center">
  <div class="container mx-auto space-y-12 md:space-y-16">
    {
      title && (
        <h2 class="text-3xl font-semibold capitalize">{markdownify(title)}</h2>
      )
    }

    <div class="flex flex-wrap justify-center gap-8 md:gap-16">
      {
        items.map((item) => (
          <div class="flex max-w-xs flex-col items-center text-center">
            {item.image && (
              <div class="mb-4 h-32 w-32 overflow-hidden rounded-full">
                <OptimizedImage
                  src={item.image}
                  width={128}
                  height={128}
                  alt={item.name}
                  class="h-full w-full object-cover"
                />
              </div>
            )}
            <h3 class="mb-2 text-xl font-bold">{item.name}</h3>
            <p class="text-md mb-1 text-gray-600">{item.role}</p>
            <p class="mb-4 text-sm text-gray-500">{item.languages}</p>
            <SocialMediaLink
              size="sm"
              layout="modern"
              label="linkedin"
              url={item.linkedin}
              icon="/images/icons/svg/linkedin.svg"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
