---
import social from "@/config/social.json";
import Logo from "@/components/global/Logo.astro";
import config from ".astro/config.generated.json" with { type: "json" };
import { markdownify } from "@/lib/utils/textConverter";
import { splitProtectedText } from "@/lib/utils/splitProtectedText";
import SocialComponent from "@/components/social/Social.astro";
import { useTranslations, getLocaleUrlCTM } from "@/lib/utils/i18nUtils";
import contact from "@/config/contact.json";

const t = await useTranslations(Astro.currentLocale as string);

let { copyright, footerDescription, subscription } = config.settings;

footerDescription = footerDescription || t("footer.description");
const copyrightText = copyright.text || t("footer.copyright");
const copyrightParts = splitProtectedText(copyrightText);

function encodeEmail(email: string) {
  return email
    .split("")
    .map((char) => `&#${char.charCodeAt(0)};`)
    .join("");
}

const encodedEmail = encodeEmail(contact.email);
---

<footer class="to-primary/20 lg:to-primary/5 bg-linear-to-b from-transparent">
  <div
    class="lg:bg-[radial-gradient(55%_55%_at_50%_130%,var(--color-primary)_40%,transparent_120%)] xl:bg-[radial-gradient(55%_55%_at_50%_100%,var(--color-primary)_0%,transparent_100%)]">
    <div class="container space-y-16 lg:space-y-28">
      <div class="grid pt-16 lg:grid-cols-2 xl:grid-cols-3">
        <div class="flex flex-col gap-y-5 lg:pe-10">
          <Logo />
          {
            footerDescription && (
              <p class="opacity-90" set:html={markdownify(footerDescription)} />
            )
          }
          <SocialComponent
            layout="classic"
            linkType="follow"
            class="mt-5 gap-1"
            size="sm"
            list={social.main.filter((social) => social.enable)}
          />
        </div>
        <div
          class="col-span-2 mt-10 grid gap-y-10 md:grid-cols-3 xl:mt-0 xl:ml-5">
          <div class="md:px-8 lg:px-8 xl:px-14">
            {
              t("footer.company") && (
                <h3
                  class="text-h5 text-light mb-6"
                  set:html={t("footer.company")}
                />
              )
            }
            <ul class="flex flex-col gap-y-1.5">
              {
                t("footerMenuQuickLink") &&
                  t("footerMenuQuickLink").map(
                    (menu: { name: string; url: string }) => (
                      <li class="inline-block">
                        <a
                          class="text-link-dark inline-block py-px opacity-90 duration-300"
                          href={getLocaleUrlCTM(menu.url, Astro.currentLocale)}>
                          {menu.name}
                        </a>
                      </li>
                    ),
                  )
              }
            </ul>
          </div>
          <div class="col-span-2 md:pl-8 lg:pl-8 xl:pl-14">
            <div class="grid gap-y-10 md:grid-cols-2">
              <div>
                {
                  t("footer.legal") && (
                    <h3
                      class="text-h5 text-light mb-6"
                      set:html={t("footer.legal")}
                    />
                  )
                }
                <ul class="flex flex-col gap-2">
                  {
                    t("footerMenuLegal").map(
                      (menu: { name: string; url: string }) => (
                        <li class="inline-block">
                          <a
                            class="text-link-dark inline-block py-px opacity-90 duration-300"
                            href={getLocaleUrlCTM(
                              menu.url,
                              Astro.currentLocale,
                            )}
                            set:html={menu.name}
                          />
                        </li>
                      ),
                    )
                  }
                </ul>
              </div>
              <div class="md:pl-8 lg:pl-8 xl:pl-14">
                {
                  t("footer.contact") && (
                    <h3
                      class="text-h5 text-light mb-6"
                      set:html={t("footer.contact")}
                    />
                  )
                }
                <div>
                  <ul class="flex flex-col gap-2">
                    <li class="inline-block">
                      <a
                        class="text-link-dark"
                        href={`mailto:${contact.email}`}>
                        <span set:html={encodedEmail} />
                      </a>
                    </li>
                    <li class="inline-block opacity-80">
                      {contact.location}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="border-t border-white/10 py-7 text-sm md:text-base">
        <div class="flex flex-wrap justify-center gap-x-8 gap-y-6">
          {
            config.settings.copyright && config.settings.copyright.enable && (
              <ul class="has-list has-list-slash prose-a:text-inherit flex flex-wrap gap-y-4 text-white">
                {copyrightParts.map((value: string) => (
                  <li class="inline-block opacity-90 [&_a]:text-[var(--color-link-dark-bg)] [&_a]:underline [&_a]:decoration-[1px] [&_a]:underline-offset-2 [&_a]:transition-colors [&_a]:duration-300 [&_a:hover]:text-[var(--color-link-dark-bg-hover)]">
                    <span set:html={markdownify(value)} />
                  </li>
                ))}
              </ul>
            )
          }
        </div>
      </div>
    </div>
  </div>
</footer>
